@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 4em;
}

a {
  text-decoration: none;
  color: inherit;
}

a h3:hover {
  font-size: 1.1em;
  color: brown;
  transition: 0.8s;
}

img {
  max-width: 100%;
}

/* Header */

header{
  height: 100vh;
  background-image: url(../assets/images/header-background.jpg);
  background-size: cover;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: brown;
}

.logoHeader{
  width: 200px;
}

ul{
  display: flex;
  align-items: center;
}

ul li{
  list-style-type: none;
  margin: 10px;
}

.welcome {
  margin-top: 10vh;
  position: relative;
  top: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px; 
}

i {
  font-size: 1em;
}

i.iconoLogueo{
  font-size: 2em;
  margin: 0 10px;
}

.welcome{
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

/* Acerca de mí */

.descripcion{
  position: relative;
}

.fotoPerfil{
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: -200px;
  left: 20px;
}

.descripcion__info{
  margin: 100px 20px 20px 20px;
}

.aboutMe{
  margin: 20px;
}

.aboutMe__child{
  display: flex;
}

/* Experiencia */

.experiencia{
  margin: 20px;
}

.experiencia__barraTitulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.experiencia__child{
  display: flex;
  margin: 20px 0;
}

.experiencia img{
  width: 100px;
  object-fit: contain;
  max-height: 100px;
}

.descripcionPuesto{
  margin: 0 20px;
}

.iconosEdicion{
  display: flex;
}

.iconosEdicion i{
  margin: 10px 5px;
}
