@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(241, 232, 232);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  color: brown;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* Header */

header {
  height: 100vh;
  background-image: url(../assets/images/header-background.jpg);
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: brown;
}

.logoHeader {
  width: 200px;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style-type: none;
  margin: 10px;
}

.welcome {
  margin-top: 10vh;
  position: relative;
  top: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
}

i {
  font-size: 1em;
}

i.iconoLogueo {
  font-size: 2em;
  margin: 0 10px;
}

.welcome {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

/* Acerca de mí */

.descripcion {
  position: relative;
}

.fotoPerfil {
  width: 200px;
  border-radius: 50%;
  border: 3px solid brown;
  position: absolute;
  top: -200px;
  left: 20px;
}

.descripcion__info {
  margin: 100px 20px 20px 20px;
}

.aboutMe {
  margin: 50px 20px;
}

.aboutMe__child {
  display: flex;
}

.location {
  font-size: .9em;
}


/* Experiencia */

.experiencia {
  margin: 20px;
  padding: 20px;
  border: 2px solid brown;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
}

.experiencia__barraTitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.experiencia__child {
  display: flex;
  margin: 30px 0;
}

.experiencia img {
  width: 100px;
  object-fit: contain;
  max-height: 100px;
}

.descripcionPuesto {
  margin: 0 20px;
}

.descripcionPuesto__info{
  display: inline;
  margin-right: 20px;
}

.iconosEdicion {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.iconosEdicion i {
  margin: 10px 5px;
}


/* Skills */

.skills{
  margin: 30px 0;
}

.container {
  width: 100%;
  background-color: #ddd;
  margin: 10px 0;
}

.skills__child {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 90%;
  background-color: #04AA6D;
}


.css {
  width: 80%;
  background-color: #2196F3;
}


.js {
  width: 50%;
  background-color: #f44336;
}


